PORT=4000

AUTH_TOKENS_SECRET=
JWT_REFRESH_SECRET=

PGHOST=localhost
PGPORT=5432
PGDATABASE=nawgati_insurance
PGUSER=nawgati
PGPASSWORD=nawgati_pass

MONGO_URI=

PARTNER_API_URL=
PARTNER_API_KEY=
PARTNER_CALLBACK_SECRET=
